body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
}

#logo {
    flex: 2;
    margin-left: auto;
}

#head-items {
    flex: 1;
    margin-left: auto;
    display: flex;
}

.inside-head-items {
    margin-right: 10%;
}

#product-container {
    float: left;
    width: 100%;
    min-height: 600px;
    background-color: #412020;
}

#container {
    width: 70%;
    min-height: 160px;
    margin-top: 2%;
    background-color: #1d3636;
}

#container:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    #header {
        flex-direction: column;
    }
    #head-items {
        flex-direction: column;
        flex: 2;
    }
    #logo span {
        display: none;
        flex: 0.5;
    }
}