<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>My Account</title>
    <link rel="stylesheet" href="/css/account.css">
</head>

<body>

<header>
    <div id="head-container">
        <div id="logo">
            <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\shoplogo.png" alt="Logo">
            <span>We follow the latest trends.</span>
        </div>

        <div id="favorites">
            <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\favorite-icon.png" alt="favorites">
            <span>Favorites</span>
        </div>

        <div id="user-info">
            <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\user-icon.png" alt="user-info">
            <span></span>

        </div>

        <div id="basket">
            <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\shopping-card-icon.png" alt="basket">
            <span>0.00 PLN</span>
        </div>
    </div>
</header>

<script>



</script>

<div id="container">
    <div id="tools-categories-container">
        <div class="tool-categories">
            <button th:href="@{/myorders}">My Orders</button>
        </div>
        <div class="tool-categories">
            <button th:href="@{/editdata}">Edit Data</button>
        </div>
    </div>
</div>

</body>

</html>