<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account.css">
    <title>My Account</title>
</head>

<body>

<header>
    <div id="logo">
        <a href="home">
        <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\shoplogo.png" alt="Logo">
        <span>We follow the latest trends.</span>
        </a>
    </div>
    <div id="head-items">
        <div class="inside-head-items">
            <a href="fav">
                <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\favorite-icon.png" alt="fav">
            </a>
        </div>

        <div class="inside-head-items">
            <a href="account">
                <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\user-icon.png" alt="user">
                <span th:text="${email}"></span>
            </a>
        </div>

        <div class="inside-head-items">
            <a href="basket">
                <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\shopping-card-icon.png" alt="bask">
                <span>0.00 PLN</span>
            </a>
        </div>
    </div>
</header>

<script>



</script>

<div id="container">
    <div id="tools-categories-container">
        <div class="tool-categories">
            <a th:href="@{/myorders}">
                <button>My Orders</button>
            </a>
        </div>
        <div class="tool-categories">
            <a th:href="@{/editdata}">
                <button>Edit Data</button>
            </a>
        </div>
        <div class="tool-categories">
            <a th:href="@{/logout}">
                <button>Log Out</button>
            </a>
        </div>
    </div>
</div>

</body>

</html>