<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Responsive Page</title>
</head>

<body>

<header>
   <div id="logo">
            <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\shoplogo.png" alt="Logo">
            <span>We follow the latest trends.</span>
   </div>
   <div id="head-items">

            <div class="inside-head-items">
                <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\favorite-icon.png" alt="fav">
            </div>

            <div class="inside-head-items">
                <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\user-icon.png" alt="user">
                <span th:text="${email}"></span>
            </div>

        <div class="inside-head-items">
            <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\shopping-card-icon.png" alt="bask">
            <span>0.00 PLN</span>
        </div>
   </div>
</header>

    <div id="swipe-container">
        <div id="swipe-content">
            <div class="swipe-item">Zdjęcie 1</div>
            <div class="swipe-item">Zdjęcie 2</div>
            <div class="swipe-item">Zdjęcie 3</div>
        </div>
    </div>

<script>
        const swipeContainer = document.getElementById('swipe-container');
        const swipeContent = document.getElementById('swipe-content');
        const swipeItems = document.querySelectorAll('.swipe-item');

        let currentIndex = 0;

        const moveLeft = () => {
            currentIndex = (currentIndex - 1 + swipeItems.length) % swipeItems.length;
            updateTransform();
        };

        const moveRight = () => {
            currentIndex = (currentIndex + 1) % swipeItems.length;
            updateTransform();
        };

        const updateTransform = () => {
            const swipeItemWidth = swipeItems[0].offsetWidth;
            swipeContent.style.transform = `translateX(-${currentIndex * swipeItemWidth}px)`;
        };

        setInterval(() => {
            moveRight();
        }, 3000);



    const email = localStorage.getItem("email");

    alert(email)

        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/show-data/${email}`, true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        };

        xhr.send();


</script>
    <div id="container">
        <div id="left-div">
            <div id="tools-categories-container">
                <div class="tool-categories">Pick</div>
                <div class="tool-categories">Shovel</div>
                <div class="tool-categories">Axe</div>
                <div class="tool-categories">Hammer</div>
                <div class="tool-categories">Drill</div>
            </div>
        </div>

        <div id="right-div">
            <h2>Product List</h2>
            <ul>
                <li th:each="product : ${products}">
                    <span th:text="${product.name}"></span>
                    <span th:text="${product.desc}"></span>
                    <span th:text="${product.price}"></span>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>