<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

<header>
    <div id="logo">
        <a href="home">
            <img src="C:\Users\wojci\StudioWeb\MyShop\src\main\resources\img\shoplogo.png" alt="Logo">
            <span>We follow the latest trends.</span>
        </a>
    </div>
</header>

<div class="registration-container">
    <h2>Registration</h2>
    <form class="col-5" th:action="@{/registerUser}" th:object="${user}" method="POST">

        <label for="firstname">First Name:</label>
        <input type="text" th:field="*{firstName}" id="firstname" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" th:field="*{lastname}" id="lastName" name="lastName" required>

        <label for="city">City:</label>
        <input type="text" th:field="*{city}" id="city" name="city" required>

        <label for="street">Street:</label>
        <input type="text" th:field="*{street}" id="street" name="street" required>

        <label for="houseNumber">House Number:</label>
        <input type="text" th:field="*{houseNumber}" id="houseNumber" name="houseNumber" required>

        <label for="postalCode">Postal Code:</label>
        <input type="text" th:field="*{postalCode}" id="postalCode" name="postalCode" required>

        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" th:field="*{phone}" id="phoneNumber" name="phoneNumber" required>

        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" name="password" required>

        <button type="submit">Register</button>

    </form>
</div>




</body>
</html>

